* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
}

#container, #frame, #hour, #minute, #second{
    border: 1px solid black;
}

#container {
    width: 30rem;
    margin: auto;
    background-color: black;
}

#frame {
    background-image: url("backClock.png");
    background-size: cover;
    width: 30rem;
    height: 30rem;
    margin: auto;
    position: relative;
}

#hour, #minute, #second{
    position: absolute;
}

#hour {
    width: 3px;
    height: 8rem;
    background-color: black;
    left: 14.85rem;
    top: 7rem;
}

#minute {
    width: 2px;
    height: 10rem;
    background-color: lightgray;
    left: 14.9rem;
    top : 5rem;
}

#second {
    width: 1px;
    height: 15rem;
    left: 14.95rem;
}

#hours, #quart {
    width: 30rem;
    font-size: 2em;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

#frameNum {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
